blinker
command-not-found
cryptography
dbus-python
distlib
distro
distro-info
filelock
gyp
httplib2
importlib-metadata
jeepney
keyring
launchpadlib
lazr.restfulclient
lazr.uri
more-itertools
netifaces
oauthlib
platformdirs
PyGObject
PyJWT
pyparsing
python-apt
PyYAML
SecretStorage
six
systemd-python
ubuntu-advantage-tools
ufw
unattended-upgrades
virtualenv
wadllib
zipp
